.header {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  inset: 0px;
  padding: 10px;
  background-color: var(--white);
  overflow-y: scroll;
}

.closeIcon {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 11;
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    margin: 15px 15px 0 15px;
    gap: 10px;
  }
}